<!DOCTYPE html>
<html>
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        AI Rose Counting System
    </title>
    <link rel="stylesheet" href='{%static "buttonpython/css/bootstrap.min.css"%}'>
    <link rel="stylesheet" href='{%static "buttonpython/css/style.css" %}'>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Patrick+Hand&display=swap" rel="stylesheet">
</head>


<body>

    <div class="container-fluid ibm-code  text-light bg-dark">

        <div class="row">

            <div class="col-md-12 mt-2">

                <div class="row">
                    <div id="" class="col-md-3 text-center">
                        <a href="">
                            <img src="{% static 'buttonpython\img\logoyachay.png' %}" width="50%" class="mt-3" />
                        </a>
                    </div>

                    <div class="col-md-6 title-section text-center">
                        <h1 class="text-light fw-bold" data-aos="fade-in" data-aos-duration="2000">AI Rose Counting System
                        </h1>
                    </div>

                    <div id="cod" class="col-md-3 text-center">
                        <a href="">
                            <img src="{% static 'buttonpython\img\mate.png' %}" height="80px" />
                        </a>
                    </div>


                </div>
            </div>
        </div>

        <div class="row mt-1 justify-content-center">
            <div class="col-md-12">
                <div class="mx-auto" id="contenedor-img">
                </div>

            </div>
        </div>

        <div class="row mx-1">
            <div class="col-12 mt-3">
                <div class="row">
                    <div class="col-md-4 border border-3 center-box me-auto p-2" data-aos="fade-up" data-aos-duration="600" id="panel-dialogo">

                        <div id="image-upload" class="panel panel-default">


                            <div class="panel-heading">
                                <div class="panel-title text-center fs-5 text-danger border-bottom">Upload an image
                                </div>
                            </div>

                            <div class="panel-body ">
                                <form method="POST" enctype="multipart/form-data" class="text-center mt-4" id="submitform">
                                    {% csrf_token %}
                                    <input type="file" name="image" accept=".png, .jpg, .jpeg" required>
                                </form>

                                <div class="row align-items-center">
                                    <button class="btn btn-danger mx-auto mt-3 col-md-3" value="COUNT" id='startinference' onclick="submit_image()">COUNT</button>
                                </div>

                                <form method="POST" id='form_photo'>
                                    <input type="text" name="src" id="photo" required class="d-none">
                                </form>
                                <div class="row align-items-center my-auto mt-3" id="camara-btns">
                                    <button class="btn btn-danger col-md-3 mx-auto my-auto" value="Camera" id='startcamera'>Camera</button>
                                    <button class="btn btn-danger col-md-3 mx-auto d-none mt-5" value="TakePhoto" id='startbutton'>SHOOT</button>
                                    <button class="btn btn-danger col-md-3 mx-auto d-none mt-5 disabled" value="send" id='send_photo' onclick="send_image()">COUNT</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-4 mx-auto text-center">
                        <p class="text-center d-none" id="wait">o</p>

                        <div class="row mt-5 justify-content-center ms-3" id="">

                            <div class="col-4 d-none" id="btn-download">
                                <button class="btn btn-danger" onclick="DownloadImage()">Download
                                    Image</button>
                            </div>
                            <div class="col-4 d-none" id="form-generar">
                                <form action="/report/" method="post">
                                    {% csrf_token %}
                                    <input type="submit" value="Generate Report" id="btn-generar" class="btn btn-danger">
                                </form>
                                <!--dsd-->
                            </div>
                            <div class="col-4 d-none" id="btn-home">
                                <a href="../" class="btn btn-danger" id="btn-cancelar"><span>Cancel</span></a>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-4 border border-3 center-box ms-auto" data-aos="fade-up" data-aos-duration="600" id="panel-dialogo2">

                        <div id="label-filter" class="panel panel-default p-2">

                            <div class="panel-heading">
                                <div class="panel-title text-center">
                                    <div class="fs-5 text-danger border-bottom">Results</div>
                                </div>
                                <div id="text-results" class="mt-3 text-center">
                                    <span id='results_inference'>
                                    </span>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>

        <footer class="row mx-3 text-light my-auto">
            <div id="footer-text">
                <hr />
                <p class="float-start">Created by Mike, Carlos, Juan & Leo</p>
                <p class="float-end">SCHOOL OF MATHEMATICAL AND COMPUTATIONAL SCIENCES</p>
            </div>
        </footer>
    </div>





    <script src='{%static "buttonpython/js/bootstrap.bundle.js" %}'></script>
    <script src='{%static "buttonpython/js/main.js" %}'></script>
</body>

</html>