html,
body {
    font-family: 'Fredoka One', cursive !important;
    height: 100%;
}

.container-fluid {
    padding: 1% 2%;
    min-height: 100%;
    margin-bottom: -80px;
}

.title-section h1 {
    font-size: 60px;
}

.panel-title {
    font-size: 18px;
}

#image-display {
    position: relative;
}

video {
    height: 373px;
    width: 604px;
    text-align: center;
}

#webcam-video {
    text-align: center;
}

#user-image {
    height: 373px;
    width: 500px;
}

#image-canvas {
    height: 373px;
    width: 500px;
}

#image-canvas {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}

#footer-text {
    height: 60px;
    padding-left: 2%;
    padding-right: 2%;
}

#contenedor-img {
    width: 840px;
    height: 300px;
}

#video {
    width: 400px !important;
    height: 300px !important;
}

#panel-dialogo,
#panel-dialogo2 {
    min-height: 255px !important;
}